* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
background-color: #ffe0f5;
color: #4f252a;
text-align: center;
padding: 60px 20px;
}
.header h1 {
font-size: 2.5rem;
margin-bottom: 15px;
}
.header p {
color: #4f252a;
}
.profile {
background-color: #ffdbda;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding: 60px 80px;
}
.profile-text {
max-width: 500px;
align-content: center;
}
.profile-text h2 {
font-size: 2rem;
margin-bottom: 15px;
color: #4f252a;
}
.profile-text p {
font-size: 1.1rem;
color: #4f252a;
}
.profile-image img {
width: 300px;
max-width: 100%;
border-radius: 6px;
border: 1px solid #e06460;
}
.about {
background-color: #e9eef5;
text-align: center;
padding: 50px 20px;
}
.about h2 {
margin-bottom: 20px;
font-size: 2rem;
color: #4f252a;
}
.about p {
font-size: 1rem;
color: #4f252a;
margin-bottom: 8px;
}
.projects-skills {
background-color: #feffd3;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 60px 80px;
border-top: 1px solid #e0e0e0;
border-bottom: 1px solid #e0e0e0;
}
.projects h2,
.skills h2 {
margin-bottom: 15px;
font-size: 1.6rem;
color: #4f252a;
}
.projects ul,
.skills ol {
margin-left: 20px;
font-size: 1.05rem;
line-height: 1.6;
color: #4f252a;
}
.contact {
background-color: #e3fdd0;
text-align: center;
padding: 60px 20px;
}
.contact h2 {
font-size: 2rem;
margin-bottom: 25px;
color: #4f252a;
}
.contact form {
display: inline-block;
text-align: left;
}
.contact label {
font-size: 1rem;
color: #4f252a;
}
.contact input {
width: 300px;
padding: 8px;
margin: 8px 0 16px 0;
border: 1px solid #edd0ac;
border-radius: 4px;
background-color: #ffffff;
}
.contact button {
width: 100%;
padding: 10px;
background-color: #e06460;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 1rem;
}
.contact button:hover {
background-color: #fbc3b6;
}